@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: flex;
}


/* form box */
.form-box {
    width: 40%;
    padding-top: 7em;
    padding-left: 10em;
}

.form-box h1 {
    margin-bottom: 24px;
}

.inputProduct {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 50%;
    font-weight: 500;
}

.boxButton button {
    padding: 0px 6px;
}


/* table box */
.table-box {
    width: 60%;
    padding-top: 11em;
    padding-right: 30em;
}

.button-action {
    text-align: center;
}

.button-action button {
    margin-right: 6px;
    padding: 2px 6px;
}



/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 6px;
    text-align: left;
}

th {
    text-align: center;
}